<div class="container">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited to reset the password:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Choose your new password:
  <%= form_with scope: :user, url: update_password_url(params[:reset_password_token]), local: true, method: :patch do |form| %>
    <p>
      <%= form.label :password %><br>
      <%= form.text_field :password %>
    </p>
    <p>
      <%= form.label :password_confirmation %><br>
      <%= form.text_field :password_confirmation %>
    </p>
    <p>
      <%= form.submit 'Reset password'%>
    </p>
  <% end %>
</div>
